@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merienda:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --claro: #F8F8FF;
    --escuro: #00071D;
    --primario: #4169E1;
    --primario_auxiliar: #F0F8FF;
    --primario_auxiliar2: #06174d;
    --secundario: #69E141;
    --secundario-auxiliar: #F5FFFA;
    --secundario-auxiliar2: #0b2402;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato";
}

a{
    text-decoration: none;
}

section{
    padding: 150px 0 200px 0;
}

/* CABEÇALHO */

.cabecalho{
    background: var(--primario);
    color: var(--primario_auxiliar);
    text-transform: uppercase;
    font-weight: 700;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    align-items: center;
}

.cabecalho a{
    color: var(--primario_auxiliar);
    transition: all 0.5s ease;
}

.logotipo{ /* LOGOTIPO */
    font-size: 25px;
    display: flex;
}

.logo__icone{
    width: 60px;
}

.navegacao ul{ /* NAVEGAÇÃO */
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.navegacao ul a:hover{
    color: var(--secundario);
}

/* BOTÕES */

.botao_primario_cor2{
    color: var(--escuro) !important;
    font-size: 20px;
    background: var(--secundario);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: -1px 1px 5px var(--secundario-auxiliar2);
    transition: all 1s ease;
}

.botao_primario_cor2:hover{
    transform: scale(1.2);
}

/* DESTAQUES */

.destaque_cor{
    color: var(--secundario);
}

/* SEÇÕES */

.titulo_secao{
    margin: 0 0 100px 0;
    text-align: center;
    text-transform: uppercase;
}

/* CARDS */

.card_imovel{
    background: var(--claro);
    height: 280px;
    width: 300px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    margin: 10px;
    box-shadow: -3px 3px 10px #eee;
}

.card_imovel h3{
    padding-top: 10px;
}

.imoveis_alugar__card_imovel__preco{
    color: var(--primario);
    font-weight: 600;
}

.cards_imoveis__imagens{
    width: 300px;
    border-radius: 5px;
}

.card_imovel p{
    font-size: 12px;
}

.borde_sombra_azul{
    box-shadow: -3px 3px 10px var(--primario_auxiliar2);
}

/* JANELAS de IMAGEM */

.janela_horizontal{
    height: 500px;
    width: 750px;
    border-radius: 500px 500px 0 0;
}

.janela_vertical{
    height: 750px;
    width: 500px;
    border-radius: 500px 500px 0 0;
}

/* LINHA de ICONE + FRASE*/

.linhas h2{
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.linha_icone_frase{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--escuro);
}

.linha_icone_frase img{
    height: 40px;
    margin: 10px;
}

/* MAPA */

.mapa{
    height: 500px;
    width: 100%;
}

/* RODAPÉ */
.rodape{
    height: 300px;
    background: var(--claro);
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 200px 100px;
    padding: 50px 200px;
}

.logo_rodape img{
    width: 300px;
}

.logo_rodape p{
    font-size: 20px;
}

.subtitulo_footer{
    color: #777;
    margin-bottom: 10px;
}

.siga_nos, .contate_nos{
    align-self: center;
}

.siga_nos img{
    height: 50px;
}

.direitos_footer{
    color: #bbb;
    border-top: 1px #bbb solid;
    width: 100%;
    padding-top: 30px;
    align-self: center;
    text-align: center;
    grid-column: 1 / 4;
}